/* Structure Styles */
@import url('css/structure/layout.css');
@import url('css/structure/components.css');
@import url('css/structure/responsive.css');

/* Page-Specific Styles */
@import url('css/pages/index.css');
@import url('css/pages/about.css');
@import url('css/pages/contact.css');


:root{
  /* ====================
  Background  Color
   ==================== */
   --primary-background-color: #fff;
   --secondary-background-color: #f7f5f0;
   --tertiary-background-color: #fbf1d6;

   
   
   /* ====================
  Font Color 
   ==================== */
  --font-heading-color: #161616;
  --font-paragraph-color: #454444;
}

body{
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
}



.layout{
  min-width: 1026px;
  max-width: 1441px;
  margin: 0 auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2px;
}

.section{
  background: black;
  display: flex;
  justify-content: space-between;
}
